In [1]:
import pandas as pd
import datetime
from process import process
import re

In [2]:
original_file = r'D:\NicoFolder\BankAccount\Utils\MemoMapping_Original.csv'

In [4]:
# process.process_save()

In [9]:
df = pd.read_csv(process.default_override_path)

In [10]:
df.head()

,Date,Account,MemoMapped,OverridesType,OverrideSubType
0,08-Jul-19,20-26-77 13105881,Londis,E,Rb
1,03-Jul-19,20-26-77 13105881,Amazon,E,Cul
2,14-Jun-19,20-26-77 13105881,Heathrow Express,NaN,Aix19
3,28-May-19,20-26-77 13105881,EasyJet,NaN,Britt19
4,25-May-19,20-26-77 13105881,Flat Early Repayment,R,L

In [17]:
subset_values = df[['OverridesType', 'OverrideSubType']]
subset_keys = df[['Date', 'Account', 'MemoMapped']]
dict_overrides = pd.Series([tuple(x) for x in subset_values.to_numpy()], index=[tuple(x) for x in subset_keys.to_numpy()]).to_dict()

In [35]:
for index, row in df.iterrows():
    # row['Account'] = 'Hello Again'
    df.iloc[index]['Account'] = ''

In [36]:
df.head()

        Date Account            MemoMapped OverridesType OverrideSubType
0  08-Jul-19                        Londis             E              Rb
1  03-Jul-19                        Amazon             E             Cul
2  14-Jun-19              Heathrow Express           NaN           Aix19
3  28-May-19                       EasyJet           NaN         Britt19
4  25-May-19          Flat Early Repayment             R               L

In [30]:
tup = ('elt_1', 'dfg', 'tyu')

In [31]:
tup[0]

'elt_1'