In [ ]:
from bkanalysis.ui import ui
import pandas as pd
pd.options.display.max_columns = None
from datetime import datetime, timedelta

In [ ]:
df = ui.load(True)
ui.get_status(df)

In [ ]:
print(f"Current Total Wealth: {ui.convert_fx(ui.get_current(df), 'GBP').sum():,.0f}£")
ui.get_current(df)

In [ ]:
ui.get_current(df, ['Account', 'Currency'])

In [ ]:
ui.plot_wealth(df)

In [ ]:
ui.plot_wealth(df, freq='d', date_range=[datetime.today() - timedelta(days=30), datetime.today()])

In [ ]:
proj_data = {
 'UBS Pension': [0.06, 0.18, 18000],
 'Nutmeg: Rainy day pot': [0.03, 0.09, 20000],
 'Lloyds Mortgage': [0, 0, 20000],
 'Instant Access - Paragon Bank PLC': [0.006, 0, 0],
 "Nutmeg: Zoey's Junior ISA": [0.06, 0.18, 2500],
 "Nutmeg: Lucy's Junior ISA": [0.06, 0.18, 2500],
 'Nutmeg: My ISA': [0.04, 0.12, 20000],
 'Nutmeg: My Nutmeg pension': [0.06, 0.18, 20000],
 'Flat': [0.01, 0, 0]}
print(f'Expected Yearly Savings: {sum([v[2] for k,v in proj_data.items()]):,.0f}£')

In [ ]:
ui.project(df, 'GBP', 10, proj_data)

In [ ]:
ui.internal_flows(df)

In [ ]:
ui.plot_sunburst(df, ['Account', 'FullType', 'FullSubType'])

In [ ]:
proj_data_2 = {
 'UBS Pension': [0.0, 0.0, 18000],
 'Nutmeg: Rainy day pot': [0.0, 0.0, 20000],
 'Lloyds Mortgage': [0, 0, 20000],
 'Instant Access - Paragon Bank PLC': [0.0, 0.0, 0],
 "Nutmeg: Zoey's Junior ISA": [0.0, 0.0, 2500],
 "Nutmeg: Lucy's Junior ISA": [0.0, 0.0, 2500],
 'Nutmeg: My ISA': [0.0, 0.0, 20000],
 'Nutmeg: My Nutmeg pension': [0.0, 0.0, 20000],
 'Flat': [0.0, 0.0, 0]}
print(f'Expected Yearly Savings (Alternative): {sum([v[2] for k,v in proj_data.items()]):,.0f}£')
ui.project_compare(df, 'GBP', 10, proj_data, proj_data_2)

In [ ]:
import datetime

saving_per_year = {}

for year in range(2016, 2021):
    start_date = datetime.datetime(year,1,1,0,0,0,0)
    end_date = datetime.datetime(year+1,1,1,0,0,0,0)

    saving = df[(df.MasterType != 'XI') & (df.Date > start_date) & (df.Date <= end_date) & (df.FacingAccount=='')].Amount_GBP.sum()
    income = df[(df.MasterType == 'I') & (df.Date > start_date) & (df.Date <= end_date) & (df.FacingAccount=='')].Amount_GBP.sum()
    
    saving_per_year[year] = (f'{income:,.0f}',f'{saving:,.0f}', f'{saving/income:,.1%}')

saving_per_year

In [ ]:
import pandas as pd
import numpy as np
accounts = ['20-26-77 13105881', '30-92-90 34061868', 'Citi', 'UBS Pension']
pd.pivot_table(df[(df.Year>2015) & (df.Year<2022) & (df.FacingAccount=='') & (df.FullMasterType=='Income') & (df.Account.isin(accounts))],
               index=['FullMasterType', 'Account'],
               columns='Year',
               values='Amount_GBP',aggfunc=np.sum, margins=True, margins_name='Total Income').fillna(0).drop('Total Income', axis=1)

In [ ]:
import pandas as pd
import numpy as np
pd.pivot_table(df[(df.Year>2015) & (df.Year<2021) & (df.FacingAccount=='') & (df.FullMasterType!='ExIncome')],
               index=['FullMasterType'],
               columns='Year',
               values='Amount_GBP',aggfunc=np.sum, margins=True, margins_name='Yearly Savings').fillna(0).drop('Yearly Savings', axis=1)

In [ ]:
for year in range(2015, 2022):
    ui.plot_sunburst(df, ['Account', 'FullType', 'FullSubType'], date_range = [f'{year}-01-01', f'{year}-12-31']).show()

In [ ]:
df[(df.Account == 'Citi') & (df.Year == 2021) & (df.Type == 'ATM')]